<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}} Detail</title>
</head>
<body>
    <h1>Full Name: {{user.first_name}} {{user.last_name}}</h1>
    <h1>Full Name (OOP): {{user.full_name()}}</h1>
    <h1>email: {{user.email}}</h1>
    <h1>created_at: {{user.created_at}}</h1>
    <h1>updated_at: {{user.updated_at}}</h1>
    <div>
        <a href="/edit_user/{{user.id}}">Edit</a>
        <a href="/destroy_user/{{user.id}}">Delete</a>
    </div>
</body>
</html>